*{
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #000428, #004e92);

}

.titulo-h1{
    margin: 10px auto;
    color: #fff;
    text-align: center;
}

.formulario{
    padding: 20px;
    background: linear-gradient(to right, #000428, #043967);
}

form .btn-primary{
    margin: 20px 0;
}

form label{
    margin-top: 15px;
    color: #fff;
}